@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    padding: 30px 40px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.openMenu i{
    font-size: 24px;
    cursor: pointer;
    color: #000;
}

.logo{
    margin-left: 60px;
}

.logo a{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}

.socialMedia i{
    color: #000;
    font-size: 18px;
    margin-left: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.socialMedia i:hover{
    transform: scale(1.1);
}

.main{
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
}

.container{
    padding-top: 35px;
}

h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 260px;
    font-weight: 600;
    color: #653d30;
    opacity: 20%;
    margin-top: 120px;
    cursor: pointer;
}

.glasses{
    text-align: center;
    max-width : 800px;
    margin: 0 auto;
    margin-top: -280px;
    cursor: pointer;
}

.glasses img{
    width: 100%;
    height: auto;
}

.info{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-top: 10px;
}

.bullets{
    display: flex;
    width: 50px;
    margin: 0 auto;
    margin-top: 50px;
}

.bullets span{
    width: 7px;
    height: 7px;
    display: block;
    margin-left: 5px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
}

.bullets .firstDot{
    background:antiquewhite;
    border: 1px solid #000;
}

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer p{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    padding-bottom: 30px;
}


@media screen and (max-height: 900px){
    .container{
        padding-top: 15px;
    }
    h1{
        font-size: 240px;
    }
    .glasses{
        max-width: 750px;
    }
}